.author-card {
    height: 500px;
    width: 375px;
    border-radius: 4px;
}

.author-card-container {
    justify-content: space-between;
}

.author-card img {
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}