.button {
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.1s;
}

.button span {
    position: relative;
    top: 5px;
    left: 5px;
}

.button-primary {
    background: var(--primary);
    color: var(--on-primary);
}

.button-primary:hover {
    background-color: var(--primary-dark);
}

.button-primary:active {
    background-color: var(--primary-light);
}

.button-secondary {
    background-color: var(--secondary);
    color: var(--on-secondary);
}