.contact{
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-wrapper{
    width:60%;
    height:55rem;
}

.contact-right{

    width: 90%;
    background-color: #f7f7f7;
    padding: 1rem 8rem 8rem 8rem;
}

.contact-heading{
    font-family: 'Aileron',sans-serif;
    font-size: 6rem;    
    font-weight: 300;
    color: #272727;
    margin-bottom: .6rem;
    text-align: center;
}

.contact-right form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group{
    position: relative;
}


.field{
    width: 30rem;
    background-color: transparent;
    border: none;
    border-bottom: .2rem dashed #272727;
    margin: 1rem 0;
    padding: 1rem 1rem 1rem 0;
    font-family: 'Aileron',cursive;
    font-size: 1.6rem;
    color: black;
}

.input-group input{
    height: 4rem;
}

.input-group textarea{

    max-height: 7rem;
    max-width: 30rem;
}

.field:focus{
    border-bottom-style: solid;
}


.input-group label{
    position: absolute;
    left: 0;
    font-family: 'Aileron',sans-serif;
    font-size: 1rem;
    color: grey;
    text-transform: uppercase;
    pointer-events: none;
    transition: all .3s;
}

.input-label{
    bottom:3rem;
}

.message{
    bottom: 6rem;
}


.field:focus ~ label{
    transform: translateY(-2rem);
    font-size: .7rem;

}


.submit-btn{
    width: 45rem;
    height: 5rem;
    background-color: blue;
    color: white;
    border:none;
    margin-top: 2rem;
    font-family: 'Aileron',serif;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2rem;
    cursor: pointer;
    text-shadow: 0.1rem;
    text-shadow: .1rem .2rem rgba(0,0,0,.5);
    box-shadow: .1rem .2rem rgba(0,0,0,.3);
}


.footer{
    width:100%;
    height: 10rem;
    background-color:gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
}


.copyright{
    font-family: 'Aileron', sans-serif;
    font-size: 1.6rem;
    color: #a7a7a7
}

.social-list a{
    margin: 0 2rem;
}

.social-list i{
    font-size: 2rem;
    color: #a7a7a7;
}