.menu {
    width: 100%;
}

.menu-wrapper {
    display: flex;
    max-width: 1366px;
    justify-content: flex-end;
    align-items: center;
    min-height: 70px;
    margin: 0 auto;
    padding: 0px 10px;
}

.logo {
    margin-right: auto;
    font-size: 20px;
    text-decoration: none;
}

.menu-item {
    color: #2b2b2b;
    text-decoration: none;
    margin-left: 60px;
    font-size: 18px;
    opacity: 0.7;
    transition: 0.2s ease;
}

.menu-item:hover {
    opacity: 1;
}

.divider {
    height: 2px;
    width: 100%;
    background-color: #e5e5d7;
}

.highlight {
    color: var(--primary);
}

.header div {
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}