.newsletter-banner {
    width: 100%;
    background-color: var(--primary);
}

.newsletter-banner div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
    color: white;
}

.newsletter-banner input {
    min-height: 50px;
    width: 500px;
    padding: 10px;
    font-size: 20px;
}